

/*==========CABECALHO==========*/
body {
    font-family: 'Motserrat', sans-serif;
}

header {
    background-color: #bbbbbb;
    padding: 10px 0;
}

.caixaPrincipal {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 118px;
    right: 0;
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;    
}

nav a:hover {
    color: darkorange;
    text-shadow: 0px 2px 2px #000000; /*Sobriamento no texto*/
}

nav a:active {
    color: #FF6B0D;
}



/*==========MAIN==========*/
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 50px 200px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
        /* background: #cccccc; */
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px #000000 solid;
        border-top-width: 10px;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #D4AC0D;
}

.produtos li:active {
    border-color: #28B463;
}

.produtos li:hover h2 {
    font-size: 26px;
}

.produtos h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.proDescricao {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin: 5px 0 0;
}

.proPreco {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 0 ;
}

/* .proPreco:hover {
    color: #C0392B;
}

.proPreco:active {
    color: #28B463;
} */
.produtos a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.produtos li:hover a {
    color: #C0392B;
    font-size: 20px;
}

.produtos li:active a{
    color: #28B463;
}



/*==========RODAPE==========*/
footer {
    text-align: center;
    background-image: url(bg.jpg);
    padding: 10px 0;
}
.copyright {
    color: #bbbbbb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}



/*========== DISPOSITIVOS MOBILE ==========*/
@media screen and (max-width: 480px) {
    body {
        font-family: 'Motserrat', sans-serif;
    }
}